form :focus:required:invalid {
    border-color: green;
}

body {
    background-color: darkviolet;
  }

h1 {
    color: white;
    font-family: 'Gill Sans';
}

.text-left {
    font-style: oblique;
    font-family: 'Gill Sans';
    font-size: 20px;
}

.form-group {
    font-style: italic;
    font-family: Monospace, 'Courier New';
    font-size: 20px;
}

h4 {
    font-family: Serif, Garamond;
}